<div class="memories" data-memory-ids="<%= @memories.pluck(:id).to_json %>">

  <div class="city_title">
    <h1><%= @memories[0].city %></h1>
  </div>

  <div class="memory_list">
    <% @memories.each do |memory|%>

      <div class="memory_block">
       <a href = "/memory/<%=memory.id%>"><h1><%= memory.created_at.strftime("%A, %d %B %Y at %I.%M %p") %></h1></a>
        <h1><%= memory.comment %></h1>
        <h1><%= memory.category %> at <%= memory.latitude %>, <%= memory.longitude %></h1>
        <div class = "memory_block_photo">
          <img src = <%=memory.photo_url %> >
        </div>
      </div>

      <div class="memory_space">
      </div>

    <%end%>

  </div>

</div>



<div class="map_rightdisplay">

  <script src="http://maps.googleapis.com/maps/api/js">
  </script>

  <div id="googleMap" class= "google_map"> 
  </div>

</div>



<!-- style="float:right;" -->

