<div class="memories_leftdisplay" data-memory-ids="<%= @memories.pluck(:id).to_json %>">
<div style="width: 100%;">   +
 <h1><%= @memories[0].city %></h1>

  Specific Memory or list of city memories
  <% @memories.each do |memory|%>
    <h1><%= memory.comment %></h1>
    <h1><%= memory.title %></h1>
    <h1><%= memory.latitude %></h1>
    <h1><%= memory.longitude %></h1>
    <h1><%= memory.category %></h1>
    <h1><%= memory.created_at.strftime("%A, %d %B %Y at %I.%M %p") %></h1>
    <img class="memory_image" src = <%=memory.photo_url %> >
  <%end%>

</div>




<div class="map_rightdisplay">

  <script src="http://maps.googleapis.com/maps/api/js">
  </script>

  <div id="googleMap" class= "google_map"> 
  </div>

</div>




<!-- style="float:right;" -->



